@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');
@import "tailwindcss";


@theme {
  --font-serif4: "Source Serif 4", serif;
  --font-inter: "Inter", serif;
  --font-jet: "JetBrains Mono";
  
  --color-surface: #f8f9ff;
  --color-surface-dim: #cbdbf5;
  --color-surface-bright: #f8f9ff;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #eff4ff;
  --color-surface-container: #e5eeff;
  --color-surface-container-high: #dce9ff;
  --color-surface-container-highest: #d3e4fe;
  --color-surface-variant: #d3e4fe;
 
  /* On-surface */
  --color-on-surface: #0b1c30;
  --color-on-surface-variant: #404944;
 
  /* Inverse */
  --color-inverse-surface: #213145;
  --color-inverse-on-surface: #eaf1ff;
  --color-inverse-primary: #95d3ba;
 
  /* Outline */
  --color-outline: #707974;
  --color-outline-variant: #bfc9c3;
 
  /* Tint */
  --color-surface-tint: #2b6954;
 
  /* Primary */
  --color-primary: #003527;
  --color-on-primary: #ffffff;
  --color-primary-container: #064e3b;
  --color-on-primary-container: #80bea6;
 
  /* Secondary */
  --color-secondary: #006c49;
  --color-on-secondary: #ffffff;
  --color-secondary-container: #6cf8bb;
  --color-on-secondary-container: #00714d;
 
  /* Tertiary */
  --color-tertiary: #4f1f19;
  --color-on-tertiary: #ffffff;
  --color-tertiary-container: #6b342d;
  --color-on-tertiary-container: #ea9e93;
 
  /* Error */
  --color-error: #ba1a1a;
  --color-on-error: #ffffff;
  --color-error-container: #ffdad6;
  --color-on-error-container: #93000a;
 
  /* Fixed - Primary */
  --color-primary-fixed: #b0f0d6;
  --color-primary-fixed-dim: #95d3ba;
  --color-on-primary-fixed: #002117;
  --color-on-primary-fixed-variant: #0b513d;
 
  /* Fixed - Secondary */
  --color-secondary-fixed: #6ffbbe;
  --color-secondary-fixed-dim: #4edea3;
  --color-on-secondary-fixed: #002113;
  --color-on-secondary-fixed-variant: #005236;
 
  /* Fixed - Tertiary */
  --color-tertiary-fixed: #ffdad5;
  --color-tertiary-fixed-dim: #ffb4a9;
  --color-on-tertiary-fixed: #380d08;
  --color-on-tertiary-fixed-variant: #6e372f;
 
  /* Background */
  --color-background: #f8f9ff;
  --color-on-background: #0b1c30;
}



body {
  @apply bg-surface;
  color: #404944;
}

@layer components {
  .btn-contained {
    @apply bg-primary-container appearance-none text-white py-2 px-6 rounded-xs;
  }
  .btn-outlined {
    @apply border border-secondary appearance-none text-secondary py-2 px-6 rounded-xs;
  }
}

.all-shadow {
box-shadow: 0 0 60px color-mix(in srgb, var(--color-secondary-fixed) 60%, transparent);}